In [2]:
import pandas as pd
import numpy as np
import networkx as nx
from tqdm import tqdm

In [ ]:
df = pd.read_pickle('emails.pkl')

In [ ]:

df2 = np.array_split(df, 60000)

In [ ]:
df2

In [ ]:
cluster_map = nx.Graph()
for i, row in tqdm(df.iterrows(), total=df.shape[0]):
    try:
        tos = row['To'].split(',')
    except:
        tos = [row['To']]
    for to in tos:
        cluster_map.add_edge(row['From'], to)

In [ ]:
nx.draw(cluster_map, with_labels=True)

In [3]:
edge_list = pd.read_pickle('edge.pkl')

In [17]:
t = np.array_split(edge_list, 7)[0]

In [28]:
G = nx.from_pandas_edgelist(edge_list, 'From', 'To', 'Count')

In [29]:
from bokeh.io import output_notebook, show, save
from bokeh.models import Range1d, Circle, ColumnDataSource, MultiLine
from bokeh.plotting import figure
from bokeh.plotting import from_networkx
#Choose a title!
title = 'Enron Email Network'

#Establish which categories will appear when hovering over each node
HOVER_TOOLTIPS = [("Email", "@index")]

#Create a plot — set dimensions, toolbar, and title
plot = figure(tooltips = HOVER_TOOLTIPS,
            tools="pan,wheel_zoom,save,reset", active_scroll='wheel_zoom',
            x_range=Range1d(-10.1, 10.1), y_range=Range1d(-10.1, 10.1), title=title)

#Create a network graph object with spring layout
# https://networkx.github.io/documentation/networkx-1.9/reference/generated/networkx.drawing.layout.spring_layout.html
network_graph = from_networkx(G, nx.spring_layout, scale=10, center=(0, 0))

#Set node size and color
network_graph.node_renderer.glyph = Circle(size=15, fill_color='skyblue')

#Set edge opacity and width
network_graph.edge_renderer.glyph = MultiLine(line_alpha=0.5, line_width=1)

In [30]:
#Add network graph to the plot
plot.renderers.append(network_graph)
show(plot)
#save(plot, filename=f"{title}.html")

In [31]:
save(plot, filename=f"cluster.html")

/Users/eli/Documents/Library/yule-ball/.env/lib/python3.8/site-packages/bokeh/io/saving.py:126: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  warn("save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN")
/Users/eli/Documents/Library/yule-ball/.env/lib/python3.8/site-packages/bokeh/io/saving.py:139: UserWarning: save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'
  warn("save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'")

'/Users/eli/Documents/Library/yule-ball/cluster.html'

In [ ]:
drops = []

In [6]:
import re
for i, row in tqdm(edge_list.iterrows(), total=edge_list.shape[0]):
    if not re.match(r"^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$", row['From']):
        drops.append(i)

100%|██████████| 349553/349553 [00:25<00:00, 13818.96it/s]

In [22]:
t

                           From                               To Count
0       phillip.allen@enron.com            tim.belden@enron.com     24
1       phillip.allen@enron.com         john.lavorato@enron.com     61
2       phillip.allen@enron.com          leah.arsdall@enron.com      3
3       phillip.allen@enron.com           randall.gay@enron.com      8
4       phillip.allen@enron.com            greg.piper@enron.com      6
...                         ...                              ...   ...
143887      eric.bass@enron.com        matthew.lenhart@enron.com   416
143888      eric.bass@enron.com          \tchad.landry@enron.com    49
143889      eric.bass@enron.com    \tdanielles@jonesgranger.com      4
143890      eric.bass@enron.com         imelda.frayre@enron.com     21
143891      eric.bass@enron.com               dasparado@aol.com      6

[49937 rows x 3 columns]

In [27]:
edge_list

                              From                         To Count
0          phillip.allen@enron.com      tim.belden@enron.com     24
1          phillip.allen@enron.com   john.lavorato@enron.com     61
2          phillip.allen@enron.com    leah.arsdall@enron.com      3
3          phillip.allen@enron.com     randall.gay@enron.com      8
4          phillip.allen@enron.com      greg.piper@enron.com      6
...                            ...                        ...   ...
638000  livia_zufferli@monitor.com   john.zufferli@enron.com      4
638002       megan.scott@enron.com   john.zufferli@enron.com      1
638003            lebend@tdbank.ca   john.zufferli@enron.com      1
638028       edwardc38@hotmail.com   john.zufferli@enron.com      1
638029             ingjald@shaw.ca   john.zufferli@enron.com      1

[349553 rows x 3 columns]